body {
    background-image: url(../css/images/friendship-hands.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.header {
   
    color: white;
    font-weight: bolder;
    text-shadow: 2px 1px #000,
}

.my-4{
    margin-top:80px;
    
}

.fh3 {
    color:white;
    text-shadow: 2px 1px black;
    font-weight: bold;
}

.p1{
    margin: 50px 0px;
}
.heart {
    color:rgb(241, 109, 188);
    
}
.btn {
    margin-top: 30px;
    background-color:rgb(241, 109, 188);
    border-color:rgb(241, 109, 188);
   
}

/* Survey Page */


.sh3 {
    color: rgb(34, 31, 31);
   
}

.a2 {
    text-decoration: none;
}

.card {
   background:  rgba(255, 255, 255, .5)

}

label {
    font-weight: bold;
}

.form-group > p {
    color: black;
}