body {
    background-image: url(../css/images/friendship-hands.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.header {
    margin:0px;
    color: white;
    font-weight: bolder;
    text-shadow: -1px 1px 0 #000,
}

h3{
    color:white;
    text-shadow: 2px 1px black;
    font-weight: bold;
}

.p1{
    margin: 50px 0px;
}
.heart {
    color:rgb(241, 109, 188);
    
}
.btn {
    margin-top: 30px;
    background-color:rgb(241, 109, 188);
    border-color:rgb(241, 109, 188);
   
}

/* Survey Page */

.a2 {
    text-decoration: none;
}