<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <script src="https://kit.fontawesome.com/1b542fd9fc.js" crossorigin="anonymous"></script>
        <link rel="stylesheet" type="text/css" href="css/stylesheet.css">
    </head>
    <body>
            <div class="container">
                    <div class="jumbotron bg-transparent text-center">
                            <h1 class="display-4 header">
                                    <i class="fas fa-hand-holding-heart heart"></i>
                                Friend Finder</h1>
                                <hr class="my-4">
                
                        <div class="card text-left shadow-lg">
                                <div class="container">
                                    <h2 class="survey-h2">Survey Questions</h2>
                                    <hr>
                                    <h3 class="sh3">About You</h3>
                                    
                                    <form>
                                        <div class="form-group">
                                            <label>Name (Required)</label>
                                            <input type="text" class="form-control" id="name" type="text" placeholder="Name">
                                        </div>
                                        
                                        <div class="form-group">
                                            <label> Link to Photo Image (Required)</label>
                                             <input type="text" class="form-control" id="photo" type="text" placeholder="Link to image">
                                        </div>
                                        <hr>
                                    </form>
                            <div class="form-group">
                                <label>Question 1</label>
                                <p>Your mind is always buzzing with unexplored ideas and plans.</p>
                               
                                <select class="form-control question" id="question1" type="text" placeholder="Option 1">
                                  <option>Select an option</option>  
                                  <option class="question">1 (Strongly Disagree)</option>
                                  <option class="question">2</option>
                                  <option class="question">3</option>
                                  <option class="question">4</option>
                                  <option class="question">5 (Strongly Agree)</option>
                                </select>
                              </div>
                              <div class="form-group">
                              <label>Question 2</label>
                                <p>You find it easy to stay relaxed and focused even when there is some pressure.</p>
                                
                                <select class="form-control question" id="question2">
                                        <option>Select an option</option>  
                                        <option class="question">1 (Strongly Disagree)</option>
                                        <option class="question">2</option>
                                        <option class="question">3</option>
                                        <option class="question">4</option>
                                        <option class="question">5 (Strongly Agree)</option>
                                </select>
                              </div>
                              <label>Question 3</label>
                                <p>Your mind is always buzzing with unexplored ideas and plans.</p>
                              <div class="form-group">
                               
                                <select class="form-control question" id="question3">
                                        <option>Select an option</option>  
                                        <option class="question">1 (Strongly Disagree)</option>
                                        <option class="question">2</option>
                                        <option class="question">3</option>
                                        <option class="question">4</option>
                                        <option class="question">5 (Strongly Agree)</option>
                                </select>
                              </div>
                              <div class="form-group">
                                    <label>Question 4</label>
                                    <p>Your mind is always buzzing with unexplored ideas and plans.</p>
                                
                                <select class="form-control question" id="question4">
                                        <option>Select an option</option>  
                                        <option class="question">1 (Strongly Disagree)</option>
                                        <option class="question">2</option>
                                        <option class="question">3</option>
                                        <option class="question">4</option>
                                        <option class="question">5 (Strongly Agree)</option>
                                </select>
                              </div>
                              <div class="form-group">
                                    <label>Question 5</label>
                                    <p>Your mind is always buzzing with unexplored ideas and plans.</p>
                               
                                <select class="form-control question" id="question5">
                                        <option>Select an option</option>  
                                        <option class="question">1 (Strongly Disagree)</option>
                                        <option class="question">2</option>
                                        <option class="question">3</option>
                                        <option class="question">4</option>
                                        <option class="question">5 (Strongly Agree)</option>
                                </select>
                              </div>
                              <div class="form-group">
                                    <label>Question 6</label>
                                    <p>Your mind is always buzzing with unexplored ideas and plans.</p>
                               
                                <select class="form-control question" id="question6">
                                        <option>Select an option</option>  
                                        <option class="question">1 (Strongly Disagree)</option>
                                        <option class="question">2</option>
                                        <option class="question">3</option>
                                        <option class="question">4</option>
                                        <option class="question">5 (Strongly Agree)</option>
                                </select>
                              </div>
                              <div class="form-group">
                                    <label>Question 7</label>
                                    <p>Your mind is always buzzing with unexplored ideas and plans.</p>
                               
                                <select class="form-control question" id="question7">
                                        <option>Select an option</option>  
                                        <option class="question">1 (Strongly Disagree)</option>
                                        <option class="question">2</option>
                                        <option class="question">3</option>
                                        <option class="question">4</option>
                                        <option class="question">5 (Strongly Agree)</option>
                                </select>
                              </div>
                              <div class="form-group">
                                    <label>Question 8</label>
                                    <p>Your mind is always buzzing with unexplored ideas and plans.</p>
                              
                                <select class="form-control question" id="question8">
                                        <option>Select an option</option>  
                                        <option class="question">1 (Strongly Disagree)</option>
                                        <option class="question">2</option>
                                        <option class="question">3</option>
                                        <option class="question">4</option>
                                        <option class="question">5 (Strongly Agree)</option>
                                </select>
                              </div>
                              <div class="form-group">
                                    <label>Question 9</label>
                                    <p>Your mind is always buzzing with unexplored ideas and plans.</p>
                                
                                <select class="form-control question" id="question9">
                                        <option>Select an option</option>  
                                        <option class="question">1 (Strongly Disagree)</option>
                                        <option class="question">2</option>
                                        <option class="question">3</option>
                                        <option class="question">4</option>
                                        <option class="question">5 (Strongly Agree)</option>
                                </select>
                              </div>
                              <div class="form-group">
                                    <label>Question 10</label>
                                    <p>Your mind is always buzzing with unexplored ideas and plans.</p>
                                
                                <select class="form-control" id="question10">
                                        <option class="question">Select an option</option>  
                                        <option class="question">1 (Strongly Disagree)</option>
                                        <option class="question">2</option>
                                        <option class="question">3</option>
                                        <option class="question">4</option>
                                        <option class="question">5 (Strongly Agree)</option>
                                </select>
                              </div>
                        </div>
                    </div>  
                    <a class="btn btn-secondary btn-lg shadow justify-content-left" id="friendSearch" role="button">Find Your Friend!</a>
                </div>

                <!-- Create modal -->

                <div class="modal fade" id="bestMatch" tabindex="-1" role="dialog">
                        <div class="modal-dialog">
                          <div class="modal-content">
                            <div class="modal-header">
                              <h5 class="modal-title" id="exampleModalLabel">Congradulations, We found you a friend! Get in touch!</h5>
                              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                              </button>
                            </div>
                            <div class="modal-body">
                              <h2 id ="match-name"></h2>
                              <img id="match-img" class="pic" src="#">
                            </div>
                            <div class="modal-footer">
                              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                              
                            </div>
                          </div>
                        </div>
                      </div>

        
    
                      
                      <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
                      <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
        
<!-- Display results for best match -->
<script type="text/javascript">
    $("#friendSearch").on("click", function (event) {
        event.preventDefault();

        // Vailidate Form

        var valid = true;
        if ($("#name").val() === "" || $("#photo").val() === "") {
            valid = false;
            alert("Information Incomplete")
        } else if ($(".question").val() === "") {
            valid = false;
            alert("Questions Incomplete")
        }
        // takes in user input if valid is true
        if (valid === true) {
            var newUser = {
                name: $("#name").val().trim(),
                photo: $("#photo").val().trim(),
                scores: [
                    $("#question1").val(),
                    $("#question2").val(),
                    $("#question3").val(),
                    $("#question4").val(),
                    $("#question5").val(),
                    $("#question6").val(),
                    $("#question7").val(),
                    $("#question8").val(),
                    $("#question9").val(),
                    $("#question10").val(),
                
                ]
                
                
            };
            console.log(newUser);
        

    //    var currentURL = window.location.origin;
        // Recieve AJAX call and post data

        $.post("/api/friends", newUser, function(data) {

            $("#match-name").text(data.name);
            $("#match-img").attr("src", data.photo);
            $("#bestMatch").modal("toggle");
        });
       
     
        } else {
    
            //required field is missing, show alert
            alert("Survey is incomplete, please fill in all fields!");
          
            }



    });

        </script>
   
    </body>
</html>

    